node_modules
.next
out
build
dist
.git
.github
.husky
.vscode
.idea
secrets
/*.md
.env
.env.local
.env.*.local
.env.docker.local
*.tsbuildinfo
npm-debug.log*
Dockerfile*
docker-compose*.yml
.dockerignore
